<app-container>
  <div class="body max-w-[320px] mx-auto">
    <nav class="flex justify-between mb-6 pt-3 mr-3">
      <a routerLink="/">
        <img src="../../../assets/images/arrow.svg" alt="" />
      </a>
      <!-- <span>{{weatherData?.name}}</span> -->
    </nav>
    <p class="mb-4">Today</p>
    <div>
      <app-time [forecastData]="forecastData"></app-time>
      <ng-container *ngFor="let dayWeatherGroup of groupByDay(forecastData?.list)">
        <div class="mb-4">
          <div class="grid grid-cols-3 items-center gap-20">
            <div class="day">
              <p class="font-bold mb-1">{{ getDayName(dayWeatherGroup.dt_txt) }}</p>
              <p class="text-[10px]">{{ getDate(dayWeatherGroup.dt_txt) }}</p>
            </div>
            <div class="degree">{{ dayWeatherGroup.main.temp }}°C</div>
            <img *ngIf="dayWeatherGroup.weather[0]?.icon" class="w-12 h-12"
              [src]="'http://openweathermap.org/img/wn/' + dayWeatherGroup.weather[0]?.icon + '.png'"
              alt="Weather Icon" />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</app-container>