

.hero {
  height: 60%;
  width: 100%;
  background-color: rgb(154, 203, 234);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  padding: 10px;
  /* position: relative; */
  overflow: hidden;
  max-width: 380px;
  
  margin-bottom: 20px;
}
.location{
display: flex;
justify-content: center;
}
.iconImage{
  width: 20px;
  height: 20px;
}

.heroNav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 3px;
}

.weatherCondition {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.degree {
  font-size: 3rem;
  margin-bottom: 10px;
}
.weatherInfo {
  text-align: center;
}

.moreInformation {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
}

.graphContainer {

  height: 10vh;

  /* width: 85%; */
  background-color: pink;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  flex-grow: 1;
  /* max-width: 380px;/ */
}
.moreInformation > div {
  display: flex;
  justify-content: center;
}
 img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;

}