<app-container>
  <div class="hero">
    <div class="heroNav">
      <div class="location">
        <img src="../../assets/images/location.svg" class="iconImage" alt="" />
        <span>{{ weather?.name }}</span>
      </div>
      <div>
        {{ currentTime  }}
      </div>
    </div>
    <div class="weatherCondition">
      <div class="weatherInfo">
        <p class="degree">{{ weather?.wind.deg }}°</p>
        <p>{{ weather?.weather[0].description }}</p>
      </div>
    </div>
    <div class="moreInformation">
      <div class="pressure">
        <img src="../../assets/images/pressure.svg" alt="" />
        {{ weather?.main.pressure }}hpa
      </div>
      <div class="humidity">
        <img src="../../assets/images/humidity.svg" alt="" />
        {{ weather?.main.humidity }}%
      </div>
      <div class="speed">
        <img src="../../assets/images/speed.svg" alt="" />
        {{ weather?.wind.speed }}km/h
      </div>
    </div>

    <div class="graphContainer">
      <h2>Temperature</h2>
    </div>
  </div>
  <div class="headerContainer">
    <p>Today</p>
    <a routerLink="./seven-days-forecast">Next 5days</a>
  </div>
  <ng-container *ngIf="forecastService">
    <app-time [forecastData]="forecastService"></app-time>
  </ng-container>

  <app-footer></app-footer>
</app-container>
