
.conditionContainer {
  display: flex;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.weatherCondition:last-child{
  align-items: end;
}
.weatherCondition:first-child {
  align-items: start;
}
.conditionContainer::-webkit-scrollbar {
  display: none;
}

.conditionContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.weatherCondition {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

img{
  width: 40px;
}
.section {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
