

<div class="container">
    <div class="hero">
        <div class="heroNav">
            <div>
                <img src="" alt="">
                <span> LocationName</span>
            </div>
            <div>
                Today then time....
            </div>
        </div>
        <div class="weatherCondition">
            <div class="weatherInfo">
                <p class="degree">21</p>
                <p>description</p>
            </div>
        </div>
        <div class="moreInformation">
            <div>a</div>
            <div>b</div>
            <div>c</div>
        </div>

        <div class="graphContainer">
            <h2>Temperature</h2>
        </div>
    </div>
</div>