<div class="flex justify-between items-center" style="flex-direction: row">
  <div class="border-t border-black w-full"></div>
  <div class="bg-black p-3 radius rounded-l-lg rounded-r-xl relative mx-4">
    <img src="../../assets/images/search.svg" class="w-20" alt="" />
  </div>
  <div class="border-t border-black w-full"></div>
</div>
<div class="flex justify-between">
  <a class="w-[40%] flex justify-center" routerLink="/">
    <img src="../../assets/images/home.svg" alt="" />
  </a>
  <a class="w-[40%] flex justify-center" routerLink="/search-location">
    <img src="../../assets/images/growth.svg" alt="" />
  </a>
</div>

